
* {
    font-family:Arial;
}

.header {
    text-align:center;
    background-color:lightgreen;
    padding:15px;
    font-size:40px;
}

#subheader {
    font-size:25px;
    margin-left:225px;
}

#blackberry {
    background-color:lightblue;
    margin-bottom:-50px;
}

#personal {
    background-color:#FFCC00;
    margin-top:50px;
}

#button1 {
    padding-left:1em;
    margin-left:1em;
    width:170px;
    height:40px;
}

#button2 {
    padding-left:1em;
    margin-left:1em;
    width:170px;
    height:40px;
}

#button3 {
    padding-left:1em;
    margin-left:1em;
    width:170px;
    height:40px;
}

#button4 {
    padding-left:1em;
    margin-left:1em;
    width:170px;
    height:40px;
}

#button5 {
     padding-left:1em;
     margin-left:1em;
     width:170px;
     height:40px;
 }

#button6 {
    padding-left:1em;
    margin-left:1em;
    width:170px;
    height:40px;
  }

#button7 {
    padding-left:1em;
    margin-left:1em;
    width:170px;
    height:40px;
}

#button8 {
    padding-left:1em;
    margin-left:1em;
    width:170px;
    height:40px;
}

#languages li {
    display:inline;
    padding-left:10em;
    margin-left:10em;
}

table {
    margin-left:13em;
    border:1px solid black;
    padding:5px;
    width:50%;
    max-width:200%;
}


#right {
    display:inline;
    width:200px;
    height:800px;
    float:right;
    background-color:#FFCC00;
}



.left {
    display:inline;
    width:200px;
    height:800px;
    float:left;
    background-color:lightblue;
}

body {
    margin:0;
    padding:0;
    z-index:0;
}

.footer {
    position:fixed;
    bottom:0;
    width:100%;
    padding:15px;
    text-align:center;
    background-color:lightgreen;

}

#paragraph {
    line-spacing:1.5;
    margin-left:225px;
}

#coindesk-widget {
    margin-left:800px;
    margin-top:-80px;
    margin-bottom:50px;
}
